body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edebeb;
}
header {
    position: relative;
    background-color: #ffffff;
    border-bottom: 2px solid #39a900;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65px;
}

.logo {
    position: relative;
    left: 40px;
    width: 50px;
    height: auto;
    margin: 10px 50px 10px 10px;
}

.navigetion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

header > h1,
.nav-item > a {
    width: 80%;
    font-weight: 400;
    margin: 20px;
    text-transform: uppercase;
}

.nav-item > a,
.navigetion > a , .dropdown > a, .dropdown-menu > a{
    text-decoration: none;
    color: grey;
    font-size: 16px;
    margin: 10px;
}

.navigetion > a:hover,  .nav-item > a:hover, .dropdown > a:hover, .dropdown-menu > a:hover {
    color: #39a900;
    background: none;
}

h1 {
    font-size: 20px;
    color: grey;
}


li {
    list-style: none;
}
.contenedor {
    position: relative;
    top: 40px;
    margin: 0px 100px;
    display: block;
    justify-content: center;
    padding: 20px 10px;
    align-items: center;
    border-radius: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;

}
.formulario {
    margin: 30px;
}
i{
    color: #ccc;
}

td > button > i{
    color: #000;
}
hr{
    border: 1px solid #000;
}
.formulario .campo {
    display: inline-block;
    margin-right: 20px;
}
.formulario .campo label {
    display: block;
    margin: 7px;
    font-weight: bolder;
}
.formulario .campo input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid rgb(98, 99, 98);
    box-shadow: 5px 7px 6px 0px rgba(0, 0, 0, 0.1);
}
.formulario .boton {
    padding: 10px 20px;
    background-color: #39a900;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .formulario .boton {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #39a900;
        color: rgb(255, 255, 255);
        border: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 5px;
    }

    .contenedor {
        display: flex;
        justify-content: center;
        padding: 200px;
        align-items: center;
        height: 20vh;
        border-radius: 5px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .formulario .campo input {
        padding: 10px;
        width: 200px;
        border-radius: 5px;
        border: 1px solid rgb(98, 99, 98);
        box-shadow: 5px 7px 6px 0px rgba(0, 0, 0, 0.1);
    }
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


.error-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
}

input.error-input {
    border: 1px solid red;
}
